/* Core styles */
body, html {
  line-height: 17px;
  background-color: #e6eae8;
  font-family: Arial, Helvetica, sans-serif;
}

ol, ul, li { list-style: none; }

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  text-decoration: none;
  color: #337ab7;
}

.wrapper {
  margin: 0px auto;
  top: 50px;
  position: relative;
  padding: 0px 10px;
  width: 75%;
  min-width: 950px;
}

.column {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #d3d3d3;
  z-index: -1;
}

.danger { background-color: #e74c3c }
.default { background-color: #bdc3c7 }
.warning { background-color: #f0ad4e }
.success { background-color: #2ecc71 }
.info { background-color: #3498db; }
.primary { background-color: #0043f0; }
/* //////////////////////////////// */



/* Navigation bar styles */
.top-bar {
  width: 100%;
  min-width: 1050px;
  height: 40px;
  background-color: #d3d3d3;
  border-bottom: .25em solid #ccc;
  margin: 0 0 10px 0;
  display: inline-flex;
  position: fixed;
  z-index: 66;
}

.logo a {
  font-family: 'Merienda One', cursive;
  margin-left: 10px;
  font-size: 24px;
  position: relative;
  top: 9px;
  text-shadow: #888 0.5px 0.5px 0px;
  color: #333;
}

nav {
  float: right;
  position: absolute;
  right: 1px;
  margin: 10px;
}

nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  text-align: center;
  padding: 0px 12px 8px 12px;
  margin: 0;
}
nav a:hover { color: #fff; }

nav a.nav-link {
  border-bottom: transparent;
  transition-property: color, border-bottom;
  transition-duration: .2s;
}
nav a.nav-link:hover {
  color: #333;
  border-bottom: .25em solid #333;
}
/* //////////////////////////////// */



/* User detail styles */
.user-details {
  width: 330px;
  float: left;
  margin-bottom: 20px;
  position: relative;
}

.user-details img {
  height: 125px;
  border-radius: 5px;
  margin-right: 5px;
}

.user-details-leftcol-right {
  width: 175px;
  display: inline-block;
  position: absolute;
}

.user-details-leftcol-right .name > a { font-size: 1.2em; }
/* //////////////////////////////// */



/* News feed / new post styles */
textarea:focus { outline: 0; }

.main-column {
  float: right;
  width: 65%;
  z-index: -1;
  min-height: 60px;
}

.post-form { width: 100%; }

.post-form textarea {
  width: 80%;
  height: 60px;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  padding: 8px;
}

.post-form input[type="submit"] {
  width: 10%;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-family: 'Merienda One', cursive;
  text-shadow: #888 0.5px 0.5px 0px;
  position: absolute;
  outline: 0;
  margin: 0;
  background-color: #d3d3d3;
  color: #333;
  transition-property: background-color, color;
  transition-duration: .1s, .1s;
}
.post-form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
  background-color: #333;
  color: #fff;
}

.status-post {
  width: 96%;
  font-size: 15px;
  padding: 0px 5px;
  min-height: 75px;
  cursor: pointer;
}

.post-profile-pic {
  float: left;
  margin-right: 7px;
}

.post-profile-pic > img {
  border-radius: 5px;
}

.newsfeed-post-options {
  padding: 0px;
  text-decoration: none;
  color: #337ab7;
  border: none;
}

.newsfeed-post-options > iframe {
  border: 0;
  height: 17px;
  width: 128px;
}

.comment-like {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #337ab7;
  padding: 0;
  height: auto;
  width: auto;
  margin: 0;
  cursor: pointer;
}
.comment-like:focus { outline: 0; }

.like-value {
  display: inline;
  font-size: 14px;
}

.delete-button {
  height: 22px;
  width: 22px;
  padding: 0;
  float: right;
  border-radius: 5px;
  border: none;
  position: relative;
  right: -15px;
}
/* //////////////////////////////// */



/* Comments */
#comment-iframe {
  max-height: 250px;
  width: 100%;
  margin-top: 5px;
}

.comment-section { padding: 0 5px 5px 5px; }

.comment-section a > img {
   margin: 0 6px 3px 3px;
   border-radius: 5px;
}

#comment-form textarea {
  border: #d3d3d3;
  border-radius: 5px;
  width: 85%;
  height: 35px;
  color: #616060;
  font-size: 14px;
  margin: 3px 3px 3px 5px;
}

#comment-form input[type="submit"] {
  width: 13%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-family: 'Merienda One', cursive;
  text-shadow: #888 0.5px 0.5px 0px;
  position: absolute;
  outline: 0;
  margin: 0;
  background-color: #d3d3d3;
  color: #333;
  transition-property: background-color, color;
  transition-duration: .1s, .1s;
}

#comment-form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
  background-color: #333;
  color: #fff;
}
/* //////////////////////////////// */



/* Friend request page */
#accept-button, #ignore-button {
  width: 20%;
  height: 28px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  color: #fff;
}
/* //////////////////////////////// */
