/* Core styles */
body, html {
  line-height: 17px;
  background-color: #e6eae8;
  font-family: Arial, Helvetica, sans-serif;
}

ol, ul, li { list-style: none; }

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  text-decoration: none;
  color: #337ab7;
}

.wrapper {
  margin: 0px auto;
  top: 50px;
  position: relative;
  padding: 0px 10px;
  width: 75%;
  min-width: 950px;
}

.column {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #d3d3d3;
  z-index: -1;
}

.danger { background-color: #e74c3c }
.default { background-color: #bdc3c7 }
.warning { background-color: #f0ad4e }
.success { background-color: #2ecc71 }
.info { background-color: #3498db; }
.primary { background-color: #0043f0; }

.button {
  height: 30px;
  border-radius: 5px;
  margin: 7px 0 0 7px;
  border: none;
  color: #fff;
}
/* //////////////////////////////// */



/* Navigation bar styles */
.top-bar {
  width: 100%;
  min-width: 1050px;
  height: 40px;
  background-color: #d3d3d3;
  border-bottom: .25em solid #ccc;
  margin: 0 0 10px 0;
  display: inline-flex;
  position: fixed;
  z-index: 66;
}

.logo a {
  font-family: 'Merienda One', cursive;
  margin-left: 10px;
  font-size: 24px;
  position: relative;
  top: 9px;
  text-shadow: #888 0.5px 0.5px 0px;
  color: #333;
}

nav {
  float: right;
  position: absolute;
  right: 1px;
  margin: 10px;
}

nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  text-align: center;
  padding: 0px 12px 8px 12px;
  margin: 0;
}
nav a:hover { color: #fff; }

nav a.nav-link {
  border-bottom: transparent;
  transition-property: color, border-bottom;
  transition-duration: .2s;
}
nav a.nav-link:hover {
  color: #333;
  border-bottom: .25em solid #333;
}
/* //////////////////////////////// */



/* User detail styles */
.user-details {
  width: 330px;
  float: left;
  margin-bottom: 20px;
  position: relative;
}

.user-details img {
  height: 125px;
  border-radius: 5px;
  margin-right: 5px;
}

.user-details-leftcol-right {
  width: 175px;
  display: inline-block;
  position: absolute;
}

.user-details-leftcol-right .name > a { font-size: 1.2em; }
/* //////////////////////////////// */



/* News feed / new post styles */
textarea:focus { outline: 0; }

.main-column {
  float: right;
  width: 65%;
  z-index: -1;
  min-height: 170px;
}

.post-form { width: 100%; }

.post-form textarea {
  width: 80%;
  height: 60px;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  padding: 8px;
}

.post-form input[type="submit"] {
  width: 10%;
  height: 60px;
  border: none;
  border-radius: 5px;
  position: absolute;
  outline: 0;
  margin: 0;
  background-color: #d3d3d3;
  color: #333;
  transition-property: background-color, color;
  transition-duration: .1s, .1s;
}
.post-form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
  background-color: #333;
  color: #fff;
}

.status-post {
  width: 96%;
  font-size: 15px;
  padding: 0px 5px;
  min-height: 75px;
  cursor: pointer;
}

.post-profile-pic {
  float: left;
  margin-right: 7px;
}

.post-profile-pic > img {
  border-radius: 5px;
}

.newsfeed-post-options {
  padding: 0px;
  text-decoration: none;
  color: #337ab7;
  border: none;
}

.newsfeed-post-options > iframe {
  border: 0;
  height: 17px;
  width: 128px;
  background-color: transparent;
}

.comment-like {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #337ab7;
  padding: 0;
  height: auto;
  width: auto;
  margin: 0;
  cursor: pointer;
}
.comment-like:focus { outline: 0; }

.like-value {
  display: inline;
  font-size: 14px;
}

.delete-button {
  background-color: transparent;
  color: red;
  height: 22px;
  width: 22px;
  padding: 0;
  float: right;
  border-radius: 5px;
  border: none;
  position: relative;
  right: -15px;
}
/* //////////////////////////////// */



/* Comments */
#comment-iframe {
  max-height: 250px;
  width: 100%;
  margin-top: 5px;
}

.comment-section { padding: 0 5px 5px 5px; }

.comment-section a > img {
   margin: 0 6px 3px 3px;
   border-radius: 5px;
}

#comment-form textarea {
  border: #d3d3d3;
  border-radius: 5px;
  width: 85%;
  height: 35px;
  color: #616060;
  font-size: 14px;
  margin: 3px 3px 3px 5px;
}

#comment-form input[type="submit"] {
  width: 13%;
  height: 45px;
  border: none;
  border-radius: 5px;
  position: absolute;
  outline: 0;
  margin: 0;
  background-color: #d3d3d3;
  color: #333;
  transition-property: background-color, color;
  transition-duration: .1s, .1s;
}

#comment-form input[type="submit"]:active {
  padding: 5px 4px 4px 5px;
  background-color: #333;
  color: #fff;
}
/* //////////////////////////////// */



/* Friend request page */
#accept-button, #ignore-button {
  width: 20%;
  height: 28px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  color: #fff;
}
/* //////////////////////////////// */



/* Message page */
#message-textarea {
  width: 80%;
  margin-right: 8px;
  padding: 5px;
  border: 1px solid #d3d3d3;
}

#message-submit {
  height: 45px;
  width: 120px;
  margin: 0;
  position: absolute;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.message {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  clear: both;
  max-width: 40%;
}

.message#blue {
  background-color: #2980b9;
  border-color: #2980b9;
  float: right;
  margin-bottom: 12px;
}

.message#green {
  background-color: #27ae60;
  border-color: #27ae60;
  float: left;
  margin-bottom: 12px;
}

.loaded-messages {
  height: 65%;
  min-height: 300px;
  max-height: 400px;
  overflow: scroll;
  margin-bottom: 10px;
  position: relative;
}

.loaded-conversations {
  height: 216px;
  overflow: scroll;
}

.user-found-messages {
  border-bottom: 1px solid #d3d3d3;
  padding: 8px 8px 10px 8px;
}
.user-found-messages:hover { background-color: #eee; }

.user-found-messages img {
  height: 35px;
  float: left;
}

#gray { color: #8c8c8c; }

.result-display {
  padding: 5px 5px 0 5px;
  height: auto;
  border-bottom: 1px solid #d3d3d3;
  /*margin-bottom: 5px;*/
}
.result-display:hover {
  background-color: #ebebeb;
  text-decoration: none;
}

.result-display a { float: none; }

.result-display-notification { padding: 7px; }

.live-search-profile-pic img {
  height: 50px;
  border-radius: 25px;
  margin: 1px 12px 0 2px;
  float: left;
}

.live-search-text {
  background-color: transparent;
  color: #333;
}

.live-search-text p {
  margin-left: 10px;
  font-size: 12px;
}
/* //////////////////////////////// */



/* Notifications dropdown */
.dropdown-data-window {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  border-top: none;
  width: 300px;
  position: absolute;
  right: 10px;
  top: 40px;
  overflow: scroll;
}

.notification-badge {
  padding: 2px 4px;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #f00;
  border-radius: 10px;
  position: absolute;
  right: 5px;
  top: -5px;
}

.notifications-profile-pic img {
  height: 35px;
  border-radius: 5px;
  margin: 1px 12px 0px 2px;
  float: left;
}

.timestamp-smaller {
  font-size: 85%;
  margin: 0;
}
/* //////////////////////////////// */



/* Live search */
.search { margin: 8px 0 0 15%; }

.search #search-text-input {
  border: thin solid #e5e5e5;
  float: left;
  height: 23px;
  outline: 0;
  width: 100px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-holder {
  background-color: #f1f1f1;
  border: thin solid #e5e5e5;
  cursor: pointer;
  float: left;
  height: 23px;
  text-align: center;
  width: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.button-holder img {
  height: 16px;
  margin-top: 3px;
}

.search-results {
  background-color: #fff;
  border: 1px solid #dadada;
  border-top: none;
  border-bottom: none;
  margin-top: 21px;
}

.search-results-footer {
  padding: 5px 4px 0px 4px;
  height: 30px;
  border: 1px solid #dadada;
  border-top: none;
  background-color: #333;
  text-align: center;
}

.search-results-footer a { color: #fff; }

.search-result {
  padding: 10px;
  height: 100px;
}

.search-page-friend-button { float: right; }

.result-profile-pic {
  float: left;
  margin-right: 10px;
}
/* //////////////////////////////// */



/* Settings page */
#small-profile-pic {
  height: 55px;
  margin: 1px 12px 0 2px;
  float: left;
}

#settings-input {
  border: 1px solid #ccc;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
}

.close-account-text {
  color: #aaa;
}
/* //////////////////////////////// */
